@model Modelo.Cadastros.Produto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Alterando os dados de um FABRICANTE";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Visualizando detalhes de um FABRICANTE
    </div>
    <div class="panel-body">
        @Html.Partial("~/Areas/Cadastros/Views/ProdutosAreas/_PartialDetailsContentPanel.cshtml", Model)
    </div>
    <div class="panel-footer panel-info">
        @Html.ActionLink("Alterar", "Edit", new {id = Model.ProdutoId}, new {@class = "btn btn-info"})
        @Html.ActionLink("Retornar para a listagem", "Index", null, new {@class = "btn btn-info"})
    </div>
</div>

